body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
}
.header-image {
  background-image: url(images/illustration-hero.svg);
  background-repeat: no-repeat;
}
.proceed {
  background-color: #382AE1;
}
.proceed:hover {
  background-color: #382AE1;
}
.proceed:active {
  color: black !important;
}